################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/trainingQuerySide/FileContentIndex/5ed00060-e41a-4afb-b41a-87c673876ced.vsidx
